.section__calculator{
  width: 100%;
  min-height: 530rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-bottom: 80rem;
}
.section__calculator .calc , .imgbox{
  width: 590rem;
  height: 530rem;
}
.section__calculator .calc{
  padding: 50rem;
  background-color: var(--color-white);
  border-radius: 12rem;
}
.section__calculator .calc h2{
  max-width: 450rem;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 44rem;
  line-height: 130%;
  text-transform: uppercase;
  color: var(--color-black);
  margin-bottom: 52rem;
}
.section__calculator .calc .forms__input{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__calculator .calc .forms__input .input__text , .input__radio{
  width: 100%;
  height: 100%;
}
.section__calculator .calc .forms__input .input__text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
label {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12rem;
  line-height: 150%;
  color: var(--color-grey);
}
.ben_in{
  width: 240rem;
  height: 54rem;
  border-radius: 12rem;
  outline: none;
  padding: 15rem 15rem; 
  border: 1rem solid var(--color-grey);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16rem;
  line-height: 150%;
  color: var(--color-black);
}
.section__calculator .calc .forms__input .input__radio p{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12rem;
  line-height: 150%;
  margin-bottom: 16rem;
  color: #898989;
}
.section__calculator .calc .forms__input .input__radio label{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16rem;
  line-height: 150%;
  color: #232020;
  margin-right: 45rem;
  text-transform: uppercase;
}
.btn-order{
  width: 186rem;
  height: 55rem;
  margin-top: 65rem;
  background: #FFC700;
  border-radius: 24px;
  border: 2rem solid var(--color-yellow);
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16rem;
  line-height: 19rem;
  text-transform: uppercase;
  color: #232020;
  transition: all 0.5s;
  cursor: 0.5s;
}
.btn-order:hover{
  border: 2rem solid var(--color-black);
  background-color: var(--color-yellow);
  box-shadow: 3px 3px 0px var(--color-black);
}
.section__calculator .imgbox{
  background-image: url('../images/CALC-IMG.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px;
  padding: 50rem;
  display: flex;
  justify-content: start;
  align-items: end;
}
.section__calculator .imgbox .white_box{
  width: 303rem;
  height: 112rem;
  background: #ffffff;
  border-radius: 8px;
  padding: 24rem;
}
.section__calculator .imgbox .white_box .group{
  width: 255rem;
  /* height: 65rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15rem;
  cursor: pointer;
}
.section__calculator .imgbox .white_box .group .topbox , .bottombox{
  width: 255rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.textt{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 12rem;
  line-height: 150%;
  color: var(--color-grey);
}
.numm{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16rem;
  line-height: 150%;
  color: #232020;
}


@media all and (max-width: 769px){
.section__calculator{
  flex-direction: column;
}
.section__calculator .calc , .imgbox{
  width: 100%;
  height: 598rem;
}
.section__calculator .calc .forms__input .input__text{
  justify-content: start;
}
.section__calculator .calc h2{
  min-width: 1000rem;
  font-size: 64rem;
  margin-bottom: 76rem;
}
.form{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
label{
  font-size: 23rem;
  margin-bottom: 4rem;
}
.ben_in{
  width: 503rem;
  height: 68rem;
  margin-bottom: 30rem;
  font-size: 26rem;
}
.section__calculator .calc .forms__input .input__radio p{
  font-size: 23rem;
}
.section__calculator .calc .forms__input .input__radio label{
  font-size: 30rem;
  margin-left: 10rem;
}
.btn-order{
  width: 264rem;
  height: 68rem;
  font-size: 27rem;
}
.section__calculator .imgbox{
  height: 420rem;
  align-items: start;
}
.section__calculator .imgbox .white_box{
  width: 570rem;
  height: 213rem;
  
}
.section__calculator .imgbox .white_box .group{
  width: 100%;
  height: 100%;
  justify-content: space-around;
}
.section__calculator .imgbox .white_box .group .topbox , .bottombox{
  width: 100%;
}
.textt{
  font-size: 23rem;
}
.numm{
  font-size: 30rem;
}
}

@media all and (max-width: 426px){
  .section__calculator .calc{
    height: 1455rem;
  }
.section__calculator .calc h2{
  font-size: 82rem;
}
.section__calculator .calc .forms__input{
}
.section__calculator .calc .forms__input .input__text{
  flex-direction: column;
}
.form{
  width: 100%;
}
.ben_in{
  width: 100%;
  height: 124rem;
  font-size: 50rem;
}
label{
  font-size: 54rem;
}
.section__calculator .calc .forms__input .input__radio p{
  font-size: 54rem;
}
.form{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
.radios{
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
.section__calculator .calc .forms__input .input__radio label{
  font-size: 55rem;
}
.btn-order{
  width: 480rem;
  height: 123rem;
  font-size: 55rem;
}
.section__calculator .imgbox .white_box{
  width: 1000%;
  height: 100%;
}
.textt{
  font-size: 48rem;
}
.numm{
  font-size: 56rem;
}
}























@media all and (max-width: 321px){
  
}